p{
    background-color: aquamarine;
    color: blue;
}

a href{
    background-color: blueviolet;
    color: deeppink;
}

div{
    background-color: brown;
    color: lawngreen;
}

span{
    background-color: blueviolet;
    color: coral;
}